@model IEnumerable<SQLTest02.Models.Estado>

@{
    ViewData["Title"] = "Index";
}

<div class="row mb-3">
    <div class="col-md-10">
        <h3>Administrar estados</h3>
    </div>
    <div class="col-md-2">
        <a asp-action="Create" class="btn btn-primary">Agregar</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Estado_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Estado_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Estado_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
